<% provide(:title, 'Here & Now') %>



<section id="title_blue">
  <div class="container">
    <div class="logo">
      <%= image_tag("shout-logo-blue.png") %>
    </div>
    <h1>shout</h1>
    <h2>here & now</h2>
  </div>
</section>  

<section id="message">
  <div class="container">
    <p> Someone shared a shout with you!
    </p>
  </div>
</section>

<% if @shout.created_at < Time.now - SHOUT_DURATION %>
    <section id="standard-text">
      <div class="container">
        <p> ..but the world is moving too fast, your shout expired <%= time_ago_in_words(@shout.created_at + SHOUT_DURATION) %> ago.
        </p>
      </div>
    </section>
    <section id="standard-text">
      <div class="container">
      </div>
    </section>
<% else %>
    <section id="standard-text">
      <div class="container">

        <div id="display_shout">
          <% if @shout.image %>
         	  <%= image_tag("http://" + @shout.image + "--400") %>
          <% else %>
            <%= image_tag("shout-place-holder.png") %> 
          <% end %>

         	<h2><span> <%= @shout.description %> </span></p>
        </div>
      </div>
    </section>

    <section id="standard-text">
      <div class="container">
    		<h2>@<%= @shout.username %>  </h2>
        <p> <%= time_ago_in_words(@shout.created_at) %> ago | <%=pluralize( @shout.likes.count ,"like")%> | <%= pluralize(@shout.comments.count,"comment")%></p>
    	</div>
    </section>
<% end %>

<section id="message">
  <div class="container">
    <p> Download the app to get all shouts around you in real time! </p>
  </div>
</section>

<div class="spacer-fix">
</div>