<% provide(:title, 'Display Shout') %>

<div class="spacer-variable">
</div>

<%= render 'shared/title' %>

<!-- todo is the shout dead?????? -->
<!-- todo placeholder ?????? -->

<div id="display_shout">
  <% if @shout.image %>
 	  <%= image_tag("http://" + @shout.image + "--400") %>
  <% else %>
    <!-- <%=  image_tag("") %> -->
  <% end %>

 	<h2><span> <%= @shout.description %> </span></p>
</div>


<section id="standard-text">
  <div class="container">
		<p><%= @shout.username %> shouted <%= time_ago_in_words(@shout.created_at) %> ago</p>
		<p>This shout has <%=pluralize( @shout.likes.count ,"like")%> and <%= pluralize(@shout.comments.count,"comment")%></p>
	</div>
	<div class="spacer-fix">
  </div>
</section>