<% provide(:title, 'Display Shout') %>


<%= render 'shared/title' %>

<div id="display_shout">
 	<%=image_tag("http://" + @shout.image + "--400") %>

 	<h2><span> <%= @shout.description %> </span></p>
</div>


<section id="standard-text">
  <div class="container">
		<p><%= @shout.username %> shouted <%= time_ago_in_words(@shout.created_at) %> ago</p>
		<p>This shout has <%=pluralize( @shout.likes.count ,"like")%> and <%= pluralize(@shout.comments.count,"comment")%></p>
	</div>
	<div class="spacer-fix">
  </div>
</section>