<h1>The shout with id <%= @flag.shout_id %> has just been flag by:  <%= User.find(@flag.flagger_id).username %>. 
</h1>

<p>The motive of this flag is: <%= @flag.motive %>.</p>

<p>You can find the shout at: <%= link_to "this adress", WEBSITE_HOME + "shouts/" + @flag.shout_id.to_s %>.</p>

<p>The text of this shout is:  <%= @shout.description%>. </p>
<p>You can find the image at: <%= link_to "this adress", "http://" + @shout.image + "--400" %>.</p>
<p>The number of flags for this shout is:  <%= Flag.where(shout_id: @flag.shout_id).count%>. </p>


