<p>Congrats <%= @user.username %>, you are one of the pioneer shouters!
</p>

<p> Whether you're hanging out in a new part of town, sightseeing, or just killing time somewhere, there must be something unexpected and worth checking out happening a few blocks from you! This is what <%=SHOUT_SHORT_NAME%> is going to make you discover.
</p>

<p> When you're out and about, you can use <%=SHOUT_SHORT_NAME%> to:</p>
<ul>
	<li>Discover what's happening around you, right now and enjoy all the opportunities your city has to offer.</li>

	<li>Share or promote a local event. Your shout will be visible on a map at your location for 4 hours. </li>
</il>

<p> Shout is brand new, you can help the shout community to keep growing by sharing the app with your friends and shouting great stuff happening around you. 
</p>

<p> Thanks and have fun out there!</p>

<p> - Team Shout </p>

<p> More info: <%=WEBSITE_HOME%> </p>
<p> Contact us at <%=CONTACT_EMAIL%>. </p>