<% provide(:title, 'Privacy') %>

<div class="spacer">
</div>

<section id="standard-text">
  <div class="container">
    <h1><%=SHOUT_TRADEMARK_NAME%> - Privacy Policy</h1>

	<p>Last Updated: February 1, 2013</p>

	<p>This Privacy Policy describe the policy and procedures of <%=SHOUT_COMPANY_NAME%> and our affiliates (“<%=SHOUT_SHORT_NAME%>”, “we” or “us”) on the collection, use and disclosure of your information. This policy covers <%=SHOUT_SHORT_NAME%>'s treatment of personally identifiable information gathered when you are using our mobile applications, websites or other products or services (collectively, the “Services”) as well as additional privacy-related issues that we believe may be of interest to you.</p>

	<p>By using the Services, you are accepting the practices described in this Policy and are agreeing to the collection and use of information in the manner described in this Policy.</p>

	 <p>We may change or modify this Policy at any time and in our sole discretion. If we make changes to this Policy, we will provide notice of such changes, such as by sending a notification, posting a notice on the Services or updating the “Last Updated” date above. Your continued use of the Services will confirm your acceptance of the revised Policy. We encourage you to frequently review the Policy to ensure you understand the terms and conditions that apply to your use of the Services. If you do not agree to the amended Policy, you must stop using the Services.</p>

	<h2>Collection of Information</h2>

	<h3>Information You Provide to Us</h3>
	<p>We collect information you provide directly to us. For example, we collect information when you create an account, complete your user profile, use the Services to add a friend, post or read a message (a "<%=SHOUT_POST_NAME%>"), request customer support or otherwise communicate with us. The Personal Information you provide is used for such purposes as allowing you to set up user account and profile that can be used to interact with other users through the Service, improving the content of the Service and communicating with you about new features. We may also draw upon this Personal Information in order to adapt the Services of our community to your needs, to research the effectiveness of our network and Services, and to develop new tools for the community.</p>

	<h3>Registration (Facebook Third Party Login)</h3>
	<p>If you sign in with your Facebook account, you are allowing us to pass your log-in information (e-mail address, password) and send and receive other public information (such as your Facebook friends list and your age) to and from Facebook. We also create some networks for you based on networks you belong to on Facebook. This data may be viewable by other <%=SHOUT_SHORT_NAME%> users, whether or not those users are your friends on Facebook. We will only use this information in accordance with our Privacy Policy, but please be aware that Facebook’s usage of your information is governed by their own privacy policies, and that we cannot be held responsible for its practices and/or actions.</p>

	<h3>Location</h3>
	<p>When you first launch any features of our Services that collect location information, you will be asked to consent to our collection of this information. If you initially consent to our collection of location information, you can subsequently stop the collection of this information by changing the preferences on your mobile device. If you do so, certain features of our Services will no longer function. You may also stop our collection of location information by following the standard uninstall process to remove our Services from your device.</br>
	<p>Your location when you posting a <%=SHOUT_POST_NAME%> is public. The users viewing this information may use it or transmit it to other individuals or parties without our knowledge. Your location information, therefore, may be subject to misuse by others. Please be aware that you share your location, and any other data you choose to make public, at your own risk.</p>

	<h3>Device Information</h3>
	<p>We collect information regarding your mobile device’s operating system and the unique device identifier number associated with your mobile phone in order to provide support to users experiencing technical issues and to ensure that we can remove any users who violate our Terms of Service from our Services. For the same reasons, we may collect information regarding the IP addresses of users of our Services, and may use “cookies” to provide additional functionality to our web Services.</p>

	<h3>Aggregate Information</h3>
	<p>We take individual user data and aggregate it to perform certain analysis of our Services. This might include things like counting the number of users of our Services or analyzing trends in downloads, invites, or messaging, for instance. We may also sometimes aggregate individual data to perform demographic analysis of our users. This might include determining the average age of our user population or the distribution of gender in our user base.</p>


	<h2>Applicability</h2>
	<p>Our Services may contain links to other websites not operated or controlled by <%=SHOUT_COMPANY_NAME%>. The policies and procedures described herein do not apply to these third party websites. Links from our Services do not imply that we endorse or have reviewed these third party sites. Contact those sites directly for information on their privacy policies.</p>

	<h2>Use of Information</h2>

	<p>We may use information about you for various purposes, including to:</p>
	<ul>
	   <li>Provide, maintain and improve our Services, including to provide additional features and content for your <%=SHOUT_POST_NAME%>s;</li>
	   <li>Provide and deliver the products and services you request, process transactions and send you related information;</li>
	   <li>Respond to your comments, questions and requests and provide customer service;</li>
	   <li>Send you technical notices, updates, security alerts and support and administrative messages;</li>
	   <li>Communicate with you about products, services, offers, promotions, rewards, and events offered by <%=SHOUT_SHORT_NAME%> and others, and provide news and information we think will be of interest to you;</li>
	   <li>Monitor and analyze trends, usage and activities in connection with our Services;</li>
	   <li>Personalize and improve the Services and provide advertisements, content or features that match user profiles or interests;</li>
	   <li>Link or combine with information we get from others to help understand your needs and provide you with better service;</li>
	   <li>Detect, investigate and/or prevent fraudulent, unauthorized or illegal activity; and
	   <li>Carry out any other purpose for which the information was collected.</li>
	   <li><%=SHOUT_SHORT_NAME%> is based in the United States and the information we collect is governed by U.S. law. By accessing or using the Services or otherwise providing information to us, you consent to the processing and transfer of information in and to the U.S. and other countries.</li>
	 </ul>

	<h2>Sharing of Information</h2>

	<p>We may share information about you as follows or as otherwise described in this Privacy Policy:</p>
	<ul>
	    <li> With <%=SHOUT_SHORT_NAME%> users and others when you post a <%=SHOUT_POST_NAME%>. We also share your username with other users when they use our "Find Friends" feature to add you to their friend lists;</li>
		<li>With users and others who view your profile, which includes your username and a "<%=SCORE_NAME%>".</li>
		<li>In response to legal process or a request for information if we believe disclosure is in accordance with any applicable law, rule, or regulation, or as otherwise required by any applicable law, rule or regulation;</li>
		<li>In order to investigate or remedy potential violations of our user agreements or policies, or to protect the rights, property and safety of <%=SHOUT_SHORT_NAME%>, our users or others;</li>
		<li>In connection with, or during negotiations of, any merger, sale of company assets, financing or acquisition of all or a portion of our business to another company; and</li>
		<li>With your consent or at your direction.</li>
		<li>We may also share aggregated or de-identified information, which cannot reasonably be used to identify you.</li>
	</ul>

	<h3>Analytics Services Provided by Others</h3>

	<p>We may allow others to provide analytics services on our behalf. These entities may use cookies, web beacons and other technologies to collect information about your use of the Services and other websites, including your IP address, web browser, pages viewed, time spent on pages, links clicked and conversion information. This information may be used to, among other things, analyze and track data, determine the popularity of certain content and better understand your online activity.</p>

	<h2>Security</h2>

	<p>We take reasonable measures to help protect information about you from loss, theft, misuse and unauthorized access, disclosure, alteration and destruction.</p>

	<h3>Children</h3>

	<p>We urge children to check with their parent or guardian before entering information on any website or when registering to install software or registering for online services. Furthermore, we at <%=SHOUT_SHORT_NAME%> urge all users, if under the age of 18, to check with their parent or guardian and become familiar with online safety practices before participating in any activities through our Services.</p>

	<p>Our Services are not directed to people under 13. If you become aware that your child has provided us with personal information without your consent, please contact us at <%=CONTACT_EMAIL%>. We do not knowingly collect personal information from children under 13. If we become aware that a child under 13 has provided us with personal information, we take steps to remove such information and terminate the child’s account.</p>


	<h2>Your Choices</h2>

	<h3>Push Notifications/Alerts</h3>

	<p>Through settings in our Services, you can choose whether to accept to receive notifications when another user posts a <%=SHOUT_POST_NAME%> within a notification radius you set from your position.</p>

	<h3>Account Information</h3>

	<p>You may update or correct information about yourself by editing your account settings within our Services. You also have the ability to delete users from your friends list. If you wish to delete your account, please visit <a href="<%=DELETE_ACCOUNT_LINK%>"> this link</a>, but note that we may retain certain information as required by law, for legitimate business purposes, or as part of our regular retention practices. We may also retain cached or archived copies of information about you for a certain period of time.</p>

	<h2>Contact us</h2>

	<p>If you have any questions about this Privacy Policy, please contact us at: <%=CONTACT_EMAIL%></p>
  </div>

  <div class="spacer">
  </div>
</section>